<%@page_title = 'Edit payment stage'%>

<div class="standard_two_col">
    <div class="cell_1">
        <%=render :partial => 'shared/page_heading'%>
        <%= render :partial => 'edit_payment_profile', :locals => {:project => @project, :payment_profile => @payment_profile}%>
    </div>
    <div class="cell_2">

    </div>
    <div class="clearing"></div>
</div>

