<div class="copy_timesheet">
  <h2>Copy timesheet</h2>
  <p>I'd like to copy my timesheet:</p>
  <p>
    FROM: <input type="text" class="datepicker number" value="<%= date %>" />
    <img alt="Select dates" class="cal_icon" height="32" src="/assets/tool/icons/calendar_32.png" width="32">
   </p>

   <p>
    TO: <input type="text" class="datepicker number" />
    <img alt="Select dates" class="cal_icon" height="32" src="/assets/tool/icons/calendar_32.png" width="32">
  </p>
  <div class="actions">
    <input type="submit" class="submit" id="apply_copy" value="Copy timesheet" />or
    <a href="#" id="cancel_copy">cancel</a>
  </div>
</div>
