<div style="color: #333333; font-family: arial, helvetica, sans-serif; font-size: 13px;">
  <p>Hi</p>

  <p>The project <%= link_to @project.name, project_url(@project, subdomain: @project.account.site_address) %> has become a stale opportunity. Please update the status or close this opportunity as soon as possible.</p>

  <p>If you would like to unsubscribe from these emails, you may remove your email address from your FleetSuite settings.</p>

  <p>Thanks,<br/>
  The FleetSuite Team<br/>
  ---<br/>
  Get support: http://help.fleetsuite.com<br/>
  Follow us: https://twitter.com/fleet_suite<br/>
  Suggest new features: http://help.fleetsuite.com/forums</p>
</div>