<%@page_title = 'New service'%>
<%@second_nav = settings_second_nav('new')%>

<div class="standard_one_col">
    <div class="cell_1">
        <%=render :partial => 'shared/page_heading'%>
        
        <%=render(:partial => 'new_rate_card', :locals => {:rate_card => @rate_card})%>
    </div>

</div>