<h2>Need to cancel your account?</h2>
<div class="padding_bottom_30">
    <p>
        Thanks for using <%=APP_CONFIG['env_config']['site_name']%>, we are sorry you want to leave. Once your account is cancelled, all your account information will be permanently deleted. If you have a paying account we won't charge you again after your official cancellation date.
    </p>
    <%=link_to 'Cancel my account', confirm_remove_account_settings_path, :class => 'small_text'%>
</div>

