<ul class="task_list header <%= @project.tasks.empty? ? 'hidden' : '' %>">
  <li class="task">
    <div class="area_1 margin_right_30">
      &nbsp;
    </div>
    <div class="content_areas">
      <div class="area_2">
        <span class="title_text">
          Activity Name
        </span>
      </div>

      <div class="area_3">
        <span class="detail">
          <strong>
            Service Type
          </strong>
        </span>
        <span class="detail">
          <strong>
            Estimated Time
          </strong>
        </span>
        <span class="detail">
          <strong>
            Actual Time
          </strong>
        </span>
        <span class="detail">
          <strong>
            Hidden
          </strong>
        </span>
      </div>
      <div class="clearing"></div>
    </div>
    <div class="area_4">
      &nbsp;
    </div>
    <div class="clearing"></div>
  </li>
</ul>