<%= content_tag_for(:li, project) do %>

  <span class="name">
    <%= link_to truncate(project.name, :length => 35), invoice_project_payment_profiles_path(project), :class => 'grey_link' %>
  </span>

  <div class="info">
    <div>
      Payment stages:
      <span class="dark_green">
        <%=link_to project.payment_profiles.length, invoice_project_payment_profiles_path(project)%>
      </span>
    </div>
    <div>
      Invoices:
      <span class="dark_green">
        <%=link_to project.invoices.length, invoice_project_invoices_path(project)%>
      </span>
    </div>
  </div>
  <div class="clearing"></div>

<% end %>