<% @page_title = 'Pre-paid invoices' %>

<% @second_nav = project_second_nav(@project, 'invoice') %>

<div class="standard_one_col">
    <div class="cell_1">
        <%=render :partial => 'shared/page_heading'%>
        
        <%if @invoices.present? -%>
            <%@invoices.each do |invoice| -%>
                <%=render :partial => 'display_invoice_usage', :locals => {:invoice => invoice}%>
            <%end-%>
        <%else-%>
            <div class="no_entries">
                <span class="large_blue_narrow">No invoices</span>
                <p class="no_alerts_description">This project does not have any pre-paid invocies.</p>
            </div>
        <%end-%>
        
    </div>
</div>