.select2-container {
  min-width: 150px;
}

#invoiceinvoices_new .select2-container {
  min-width: auto;
}

.time_field .select2-container {
  min-width: 50px;
}

.select2-container a,
.select2-drop li {
  text-align: left;
}

