<div id="markdown_info" style="display:none;">

  <div id="bold_icon" class="style_icon"></div>
  <p class="style_text">**bold**</p>

  <div id="italics_icon" class="style_icon"></div>
  <p class="style_text">*italics*</p>

  <div id="strike_icon" class="style_icon"></div>
  <p class="style_text">~strikethrough~</p>

</div>
