<div class="side_container">

    <h3 class="padding_bottom_10">Account holders can</h3>
    <ul class="bullet_list padding_bottom_30">
        <li>Do the same as an administrator</li>
        <li>Update account details</li>
        <li>Create and delete projects</li>
        <li>Handle project payment details including invoices</li>
        <li>Add and remove users and teams on the account</li>
    </ul>

    <h3 class="padding_bottom_10">Administrators can</h3>
    <ul class="bullet_list padding_bottom_30">
        <li>Do the same as leaders</li>
        <li>Update project schedules</li>
        <li>Upload documents and make comments</li>
    </ul>

    <h3 class="padding_bottom_10">Leaders can</h3>
    <ul class="bullet_list padding_bottom_30">
        <li>Do the same as a member</li>
        <li>View further project information including quotes and invoices</li>
        <li>View reports</li>
    </ul>

    <h3 class="padding_bottom_10">Members can</h3>
    <ul class="bullet_list padding_bottom_30">
        <li>View basic project information</li>
        <li>View Schedules</li>
        <li>Add their own tracking information</li>
    </ul>
</div>