<p>Hi <%=@user.firstname%></p>
 
<p>Thanks for trialling FleetSuite. We're sad to see that you have cancelled your FleetSuite account; this is a confirmation that your account will now been deleted and your content scheduled for removal.</p>
 
<p>Your feedback and opinion is incredibly valuable to us; we're constantly working to improve our product for future users. We'd appreciate an insight into your experiences of FleetSuite, and have created a short survey where you can let us know your thoughts.</p>
 
<p>https://www.surveymonkey.com/s/V2L9NM6</p>

<p>Thanks,<br/>
The FleetSuite Team<br/>
---<br/>
Get support: http://help.fleetsuite.com<br/>
Follow us: https://twitter.com/fleet_suite<br/>
Suggest new features: http://help.fleetsuite.com/forums</p>
