<p>Hi <%=@user.firstname%></p>

<p>Your <%=@site_name%> account at <%= root_url(:subdomain => @account.site_address) %> has just reached a plan limit that will prevent you adding additional users.</p>

<p>To prevent any restrictions to your service, please upgrade your account to a new plan. This can be done by accessing your account and clicking on the account tab.</p>

<p>If you have any questions or if we can help in any way, please don't hesitate to get in touch.</p>

<p>Thanks,<br/>
The FleetSuite Team<br/>
---<br/>
Get support: http://help.fleetsuite.com<br/>
Follow us: https://twitter.com/fleet_suite<br/>
Suggest new features: http://help.fleetsuite.com/forums</p>
