<p>Hi <%=@user.firstname%></p>

<p>Thanks for using FleetSuite - we’re delighted to see you've decided to continue using the product and have signed up to a full account.</p>

<p>We’d love to hear your experiences of FleetSuite, and have created a short survey where you can let us know your thoughts.</p>

<p>https://www.surveymonkey.com/s/V2L9NM6</p>

<p>Your feedback and opinion is incredibly valuable to us; we're constantly working to improve our product to help our clients optimise their business processes. If there's anything we can do to help your organisation, please get in touch.</p>

<p>Thanks,<br/>
Scott<br/>
The FleetSuite Team<br/>
---<br/>
Get support: http://help.fleetsuite.com<br/>
Follow us: https://twitter.com/fleet_suite<br/>
Suggest new features: http://help.fleetsuite.com/forums</p>

