<p>Hi <%=@user.firstname%></p>

<p>We’re sorry to see that you didn’t upgrade to a paid FleetSuite account following the expiration of your 30-day free trial.</p>

<p>Whether you missed your chance to use your account or didn’t manage to delve deep enough, we're confident that you'll love FleetSuite once you’ve explored the full benefits of the tool, and would like to offer you 50% off the cost of your subscription for 3 months to really get to grips with the Suite. To take up this exclusive offer simply use the code INTRO50 by logging into <%= root_url(:subdomain => @account.site_address) %> and reactivating your account.</p>

<p>With estimation and HR modules coming soon we're continuing to build the Suite into a comprehensive business management solution. Be sure to explore all the great team management features that can help you improve your efficiency, including:</p>

</p>- Detailed charts showing where your team's time is being spent<br/>
- Infinite scrolling  calendars for long-term schedule planning<br/>
- Integration between projects, tasks and features for granular tracking capability</p>

<p>Whether you decide to continue using FleetSuite or not, we’re continually evolving and optimising our product; so be sure to check the website regularly for the latest news and releases. And follow us on Twitter at http://www.twitter.com/fleet_suite too.</p>

<p>Thanks,<br/>
Scott<br/>
The FleetSuite Team<br/>
---<br/>
Get support: http://help.fleetsuite.com<br/>
Follow us: https://twitter.com/fleet_suite<br/>
Suggest new features: http://help.fleetsuite.com/forums</p>

