<div id="main_lightbox" class="simple_lightbox" style="display: none;">
    <div class="simple_lightbox_close_container">
	<a id="main_lightbox_close" class="simple_lightbox_close" href="javascript:void(0);">
        <%=image_tag 'tool/simple_lightbox/lightbox_close.png', :alt => 'Close', :size => '34x31'%>
	</a>
    </div>
    <div class="simple_lightbox_content">
        <div class="simple_lightbox_scroll_container" id="main_lightbox_content"></div>
    </div>
</div>
<div id="main_lightbox_background" class="simple_lightbox_background" style="display: none;"></div>