<h3 class="padding_top_30">Product tour</h3>
<p>Enable or disable the tour of Fleetsuite on login.</p>
<div class="form_row">
  <div class="form_text">
    <%= f.label 'Enable product tour' %>
  </div>
  <div class="form_field">
    <%= f.check_box :hopscotch_enabled %>
  </div>
  <div class="clearing"></div>
</div>
