<%@page_title = 'Quote settings'%>
<%@second_nav = settings_second_nav('quote')%>

<div class="standard_one_col">
    <div class="cell_1">
        <%=render :partial => 'shared/page_heading'%>
        
        <div class="search_container">
        	<%=render :partial => 'settings/quote' %>
        </div>
    </div>

</div>