<div class="slide_4 slide">
    <div class="slide_overlay">
        <div class="inside_content inside_4">
            <div class="ipad_slide"> </div>
            <div class="right_text">
                <h2>Invoice</h2>
                <div class="description">Easily raise new invoices and keep track of billing with the invoice tool.</div>
                <span class="signup_button">
                    <%= link_to pricing_path(:from => 'invoice'), :class => 'pricing_and_signup_button_v2' do %>
                        See Pricing &amp; Signup
                        <%= content_tag(:span, "30-Day Free Trial") %>
                    <% end %>
                </span>
            </div>
        </div>
    </div>
</div>