<div class="slide_2 slide">
    <div class="slide_overlay">
        <div class="inside_content inside_2">
            <div class="ipad_slide"> </div>
            <div class="right_text">
                <h2>Schedule</h2>
                <div class="description">An online scheduling tool to effortlessly assign projects and tasks to identify opportunities.</div>
                <span class="signup_button">
                    <%= link_to pricing_path(:from => 'schedule'), :class => 'pricing_and_signup_button_v2' do %>
                        See Pricing &amp; Signup
                        <%= content_tag(:span, "30-Day Free Trial") %>
                    <% end %>
                </span>
            </div>
        </div>
    </div>
</div>