<div class="slide_0 slide animate">
    <div class="slide_overlay">
        <div class="inside_content inside_0">
            <div class="mac_slide"> </div>
            <div class="ipad_slide"> </div>
            <div class="right_text">
                <h1>Collaborative business tools</h1>
                <h2 class="description">A suite of online collaboration tools allowing you to manage your team with ease.</h2>
                <span class="signup_button">
                    <%= link_to pricing_path, :class => 'pricing_and_signup_button_v2' do %>
                        See Pricing &amp; Signup
                        <%= content_tag(:span, "30-Day Free Trial") %>
                    <% end %>
                </span>
            </div>
        </div>
    </div>
</div>