<div class="slide_3 slide">
    <div class="slide_overlay">
        <div class="inside_content inside_3">
            <div class="mac_slide"> </div>
            <div class="right_text">
                <h2>Track</h2>
                <div class="description">Time tracking software delivering detailed reports against projects, features and tasks.</div>
                <span class="signup_button">
                    <%= link_to pricing_path(:from => 'track'), :class => 'pricing_and_signup_button_v2' do %>
                        See Pricing &amp; Signup
                        <%= content_tag(:span, "30-Day Free Trial") %>
                    <% end %>
                </span>
            </div>
        </div>
    </div>
</div>