<%@no_follow = true%>
<%@page_title = 'Privacy & Cookie Policy'%>
<%@second_nav = fleetsuite_second_nav('home')%>

<% content_for :title_bar do %>
    <h1>Privacy & Cookie Policy</h1>
<%end-%>

<div class="outer_contaner" id="content_outer">
    <div class="inner_container" id="content_inner">


<p>FleetSuite is wholly owned and operated by Arthurly Limited. In this Policy references to “we”, “us” and “our” are to Arthurly Limited. If at any time you have any questions or concerns about this Policy, please contact us at <%=link_to 'http://help.fleetsuite.com', 'http://help.fleetsuite.com'%> or our postal address and phone number can be found at <%=link_to 'www.arthurly.com/contact-us/contact/', 'http://www.arthurly.com/contact-us/contact/'%>.</p>


<h2>Privacy & Cookie policy</h2><br/>
<p>It is our policy that personal information, such as your name, mailing address, email address or personal telephone number is private and confidential. By using this site, you consent to the terms of our privacy policy for the collection, use and disclosure of your personal information for the purposes set out below. We do not collect, use or disclose your personal information for any purposes other than those identified below, except with your consent or as required by law.</p>
    
    
<h3>The information we collect includes:</h3> <br/>
<ol>
    <li>Site Activity Data:  Each time a visitor comes to this website, we collect and log certain information for a reasonable period of time. This information includes, but is not restricted to your machine's TCP/IP address, date, time and the web pages you've accessed. We also collect information about the 'referrer' if you clicked on an external link that led you to our website. The information we collect is used solely for performance, site administration and security reviews. They are not sold or shared in any way with third party organisations.</li>
    <li>Cookies: We use analytics tools to anonymously analyse site usage enabling us to continually improve our site to provide the best experience to you, the visitor. We also collect anonymised information about how our customers use FleetSuite (as well as any problems they encounter) to make improvements to the product and better meet the needs of users. These external tools may use a cookie to understand user behaviour.  We currently operate an implied usage policy for cookies which means we assume you are happy with this usage. If not, you can change your cookie settings within your browser at any time. If you do not know what cookies are, or how to control or delete them, we recommend you visit http://www.aboutcookies.org for detailed guidance. Please note that not accepting cookies may negatively affect performance and other functionality across the site.</li>
    <li>Personal Information: Personal Information: Personal information such as your name, mailing address, email address or telephone number is collected only when you voluntarily provide it. Such information is received when you send an email through the site or make some other specific contact, such as completing an online form or registering to receive notifications. The personal information you provide is forwarded only to the person(s) equipped to handle your request and is used both to respond to your inquiry, and send you further communications with regards to the FleetSuite product. In this case these communications come solely from Arthurly. Personal information will not be sold or shared with any third parties.</li>
</ol>

<p>Any changes to our privacy policy will be communicated on this website. Policy changes will not alter how we handle previously submitted personal information.</p>


<h3>Copyright</h3><br/>
    
<p>Images, text, software, documentation, electronic text and image files, audio and video files and clips, and other materials on the FleetSuite website are protected by copyright laws and may be covered by other restrictions as well. Arthurly retains all rights, including copyright, in data, image, text, and any other information contained in these files. Arthurly expressly prohibits the copying of any protected materials on this website, except for the purposes of fair use as defined in copyright laws and as defined below.</p>
    
<p>Fair use of copyrighted material includes the use of protected materials for non-commercial educational purposes, such as teaching, scholarship, research, commentary and news reporting. Unless otherwise noted, users who wish to download or print text, audio, video, image and other files from the FleetSuite website for such uses are welcome to do so with our express permission. Users must cite the author and source of this material as they would material from any printed work; the citation should include the URL http://fleetsuite.com. By downloading, printing, or otherwise using text, audio, video, image and other files from this website, whether accessed directly from this website or via other sites or mechanisms, users agree that they will limit their use of such files to fair use and will not violate Arthurly's or any other party's proprietary rights.</p>
    
    <p>Unauthorised publication or exploitation of FleetSuite files is specifically prohibited. Anyone wishing to use any of these files or images for commercial use, publication, or any purpose other than fair use as defined by law, must request and receive prior permission from Arthurly.</p>
    </div>
</div>