<%@no_follow = true%>
<%@page_title = 'Terms of Use'%>
<%@second_nav = fleetsuite_second_nav('home')%>

<% content_for :title_bar do %>
    <h1>Terms of Use</h1>
<%end-%>

<div class="outer_contaner" id="content_outer">
    <div class="inner_container" id="content_inner">

        <p>V1 – 08th August 2012</p>

<p>FleetSuite is wholly owned and operated by Arthurly Limited. In this Policy references to “we”, “us” and “our” are to Arthurly Limited. If at any time you have any questions or concerns about this Policy, please contact us at <%=link_to 'http://help.fleetsuite.com', 'http://help.fleetsuite.com'%> or our postal address and phone number can be found at <%=link_to 'www.arthurly.com/contact-us/contact/', 'http://www.arthurly.com/contact-us/contact/'%>.</p>

<p>The following are the terms and conditions for use of the FleetSuite service described herein (the "Service") between Arthurly and you (either an individual or a legal entity that you represent as an authorised employee or agent) ("You").</p>

<p>By clicking the "I Accept" button, completing the registration process and/or using the Service, you are stating that you are eligible for an Account and that you agree to be bound by all of these Terms and Conditions of the Service ("Agreement"). The Service is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein.</p>

<p>Arthurly reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes.</p>

<p>Violation of any of the terms below may result in the termination of your Account. You agree to use the Service at your own risk.</p>
<ul>
    <li>
        <p>Definitions</p>
                <p>"Account" refers to the billing account for the Service.</p>
                <p>"Documentation" means any accompanying proprietary documentation made available to You by Arthurly for use with the Software, including any documentation available online or otherwise.</p>
                <p>"Software" means the proprietary Arthurly software and all upgrades, modifications and enhancements to such, which analyses the Data and generates the Reports.</p>
    </li>
    <li>
        <p>Account terms</p>
                <p>a. You must provide your legal full name, a valid email address, and any other information requested in order to complete the signup process.</p>
                <p>b. You are responsible for maintaining the security of your account and password. Arthurly cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</p>
                <p>c. You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).</p>
    </li>
    <li>
        <p>Nonexclusive license</p>
                <p>Arthurly hereby grants You a limited, revocable, non-exclusive, non-sublicensable and non-transferable license to use the FleetSuite Software. Your license of, use of and access to the Software and the Service (which may also include any Documentation) is conditioned upon Your compliance with the terms and conditions of the Agreement, including the following:</p>

                <p>You will not nor will You allow any third party to (i) copy, modify, adapt, translate or otherwise create derivative works of the Software or the Documentation; (ii) reverse engineer, de-compile, disassemble or otherwise attempt to discover the source code of the Software, except as expressly permitted by the law, notwithstanding this restriction, in effect in the jurisdiction in which You are located; (iii) rent, lease, sell, assign or otherwise transfer rights in or to the Software, the Documentation or the Service; (iv) remove any proprietary notices or labels on the Software or placed by the Service; or (v) use, post, transmit or introduce any device, software or routine which interferes or attempts to interfere with the operation of the Service or the Software. You will use the Software and Service solely for Your own internal use, and will not make the Software or Service available for timesharing, application service provider or service bureau use. You will comply with all applicable laws and regulations (including cookie directives where applicable) in Your use of and access to the transmissions or data Documentation, Software and Service.</p>

        <p>This license will terminate immediately if You fail to comply with the terms of this Agreement.</p>
    </li>
    <li>
        <p>Confidentiality</p>

        <p>"Confidential Information" includes any proprietary data and any other information disclosed by one party to the other (orally or in writing). Notwithstanding the foregoing, Confidential Information will not include any information that is or becomes known to the general public, which is already in the receiving party's possession prior to disclosure by a party or which is independently developed by the receiving party without the use of Confidential Information. Neither party will use or disclose the other party's Confidential Information without the other's prior written consent except for the purpose of performing its obligations under this Agreement or if required by law, regulation or court order. In which case, the party being compelled to disclose Confidential Information will give the other party as much notice as is reasonably practicable prior to disclosing such information. Upon termination of this Agreement, the parties will promptly either return or destroy all Confidential Information and, upon request, provide written certification of such. You are responsible for safeguarding the confidentiality of Your password(s) and user name(s) issued to You by FleetSuite, and for any use or misuse of Your account resulting from any third party using a password or user name issued to You. You agree to immediately notify FleetSuite of any unauthorised use of Your account or any other breach of security known to You. This clause shall continue in force notwithstanding expiry or termination of this Agreement.</p>
    </li>
    <li>
        <p>Payment, refunds, upgrading and downgrading terms </p>

        <p>a. A valid credit card is required for paying accounts.</p>
        <p>b. The Service is billed on account activation and in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account.</p>
        <p>c. All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties.</p>
        <p>d. For any upgrade or downgrade in edition, your credit card that you provided will automatically be charged the new rate on your next billing cycle.</p>
        <p>e. Downgrading your Service may cause the loss of features or capacity of your Account. Arthurly does not accept any liability for such loss.</p>
    </li>
    <li>
        <p>Cancellation and termination</p>
        <p>a. You are solely responsible for properly cancelling your account. You can cancel your account at any time by visiting the Your Account Details section of your FleetSuite installation.</p>
        <p>b. Data will be immediately deleted from the Service upon cancellation. This information cannot be recovered once your account is cancelled.</p>
        <p>c. If you cancel the Service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again.</p>
        <p>d. Arthurly, in its sole discretion, has the right to suspend or terminate your Account and refuse any and all current or future use of the Service. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Data in your Account. FleetSuite reserves the right to refuse service to anyone for any reason at any time.</p>
    </li>
    <li>
        Modifications to the service and prices
        a. Arthurly reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.
        b. Prices of all Services, including but not limited to monthly subscription plan fees to the Service, are subject to change upon 30 days’ notice from us. Such notice may be provided at any time by posting the changes to the FleetSuite Site (http://www.fleetsuite.com) or the Service itself.
        c. Arthurly shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.
    </li>
    
    <li>
        <p>General conditions</p>
        <p>a. Your use of the Service is at your sole risk. The Service is provided on an "as is" and "as available" basis.</p>
        <p>b. You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service or Arthurly.</p>
        <p>c. You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by FleetSuite.</p>
        <p>d. You understand that the technical processing and transmission of the Service, including your data, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</p>
        <p>f. You expressly understand and agree that Arthurly shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Arthurly has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) the failure of You to comply with legal directives including (but not limited to) relevant cookie legislation; (v) or any other matter relating to the service.</p>
        <p>g. The failure of Arthurly to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between You and FleetSuite and govern your use of the Service, superseding any prior agreements between you and FleetSuite (including, but not limited to, any prior versions of the Terms of Service).</p>
        <p>h. Questions about the Terms of Service should be sent to info@fleetsuite.com.</p>
    </li>
</ul>



    </div>
</div>