<% @page_title = 'Attach document' %>

<% @second_nav = project_second_nav(@project, 'documents') -%>

<div class="standard_one_col">
    <div class="cell_1">
        <%=render :partial => 'shared/page_heading'%>
        <%=render :partial => 'documents/choose_file', :locals => {:storage => @storage, :results => @results}%>
    </div>
</div>
