# Application Secrets File
# -------------------------------------
#
# These values can be referred to in the code as follows:
#
# APP_CONFIG['secrets']['section-name']['setting-name']

s3:
  access_key_id: -
  secret_access_key: -