.oswald_narrow {
    font-family: 'Oswald', 'arial narrow', arial, helvetica, sans-serif;
    font-weight: 300;
}

.blue_med_oswald_text {
    color: #6C88A6;
    font-family: 'Oswald', 'arial narrow', arial, helvetica, sans-serif;
    font-weight: 400;
    text-shadow: 0 1px #FFFFFF;
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;
}

.blue_small_oswald_text {
    color: #6C88A6;
    font-family: 'Oswald', 'arial narrow', arial, helvetica, sans-serif;
    font-weight: 400;
    text-shadow: 0 1px #FFFFFF;
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
}

.green_text {
    color: #AFC56F;
    font-family: 'Lato', arial, helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1;
    font-weight: 900;
}

.dark_text {
    color: #373737;
    font-family: 'Lato', arial, helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1;
    font-weight: 900;
}

.med_dark_text {
    color: #373737;
    font-family: 'Lato', arial, helvetica, sans-serif;
    font-size: 2em;
    line-height: 1;
    font-weight: 900;
}

.v_large_dark_text {
    color: #373737;
    font-family: 'Lato', arial, helvetica, sans-serif;
    font-size: 4em;
    line-height: 1;
    font-weight: 900;
}

.small_light_shadow_text {
    color: #8A8A8A;
    font-size: 1.3em;
    text-shadow: 0 1px #FFFFFF;
}