/*====== Layout ======*/
body {
    color: #373737;
    font-family: 'Lato', arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    text-align: center;
}


/* Links */
a,
a:link,
a:visited,
a:active {
    color: #007CD0;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #499ED0;
    text-decoration: underline;
}
/* Links */



.outer_contaner {
    width: 100%;
    
    .inner_container {
        margin: auto;
        padding: 0 10px;
        text-align: left;
        width: 940px;
    }
}


/* product_nav */
.ie7 #product_nav {
    position: absolute;
    left: 0;
}

#product_nav {
    background: url(front/layout/top_menu_background.png) repeat-x left top;
    height:55px;
    margin: 0;
    padding: 12px 0 0 0;
    position: fixed;
    top: 0;
    z-index: 100;
    
     .inner_container {
        font-family: 'Lato', arial, helvetica, sans-serif;
        font-size: 1.7em;
        font-style: italic;
        font-weight: 900;

        ul#product_nav_links {
            
            li {
                float: left;
                padding: 0 20px 0 0;
                
                a,
                a:link,
                a:visited,
                a:active {
                    color: #66899F;
                    display: block;
                    height: 56px;
                    outline: none;
                    line-height: 1;
                    text-shadow: 1px 1px #CCCCCC;
                    
                    
                }
                
                a:hover,
                a.active,
                a.active:link,
                a.active:visited,
                a.active:active {
                    background: url(front/layout/top_menu_active_background.png) no-repeat center bottom;
                    color: #FFFFFF;
                    display: block;
                    outline: none;
                    text-decoration: none;
                    text-shadow: 1px 1px #999999;
                }
            }
            
            li.second {
                background: url(front/layout/top_menu_divide.png) no-repeat left 4px;
                padding-left: 30px;
            }
        
        }
    }
}
/* end product_nav */


#outer_frame {
    padding-top: 47px;
}

#header_outer {
    background: url(front/layout/top_blue_background.png) repeat-x left top;

    padding: 20px 0 0 0;
        
    #header_inner {
        position: relative;
        
        .logo_container {
            width: 185px;
            padding: 10px 0 20px 18px;
            
            #logo {
                background-color:transparent;
                background-image: url(front/layout/fleet-logo.png);
                background-repeat: no-repeat;
                width:185px;
                height:52px;
                display:block;
            }
                  
            @media only screen and (-webkit-device-pixel-ratio: 2){
                #logo {
                    background-image: url(front/layout/fleet-logo@2x.png);
                    background-size:185px 52px;
                }
            }
        }
        
        /* second_nav */
        .second_nav_container {
            position: absolute;
            padding-bottom: 20px;
            padding-right: 10px;
            top: 17px;
            right: 0;
        
            ul#second_nav {
                float: right;
            
                li  {
                    float: left;
                    margin: 0;
                    padding: 0 0 0 15px;
                
                    a,
                    a:link,
                    a:visited,
                    a:active {
                        background: #DDDDDD;
                        border-color: #C7C7C7 #D9E3E9 #DDDDDD #C7C7C7;
                        border-radius:0.3em;
                        -moz-border-radius:0.3em;
                        -webkit-border-radius:0.3em;
                        border-style: solid;
                        border-width: 1px;
                        color: #718399;
                        display: block;
                        font-family: 'Oswald', 'arial narrow', arial, helvetica, sans-serif;
                        font-size: 1.5em;
                        font-weight: 300;
                        margin: 0;
                        padding: 8px 15px 7px 15px;
                        outline: none;
                        opacity: 0.6;
                        line-height: 1;
                        text-shadow: 1px 1px #CCCCCC;
                        text-transform:uppercase;
                    }
                
                    a:hover,
                    a.active,
                    a.active:link,
                    a.active:visited,
                    a.active:active {
                        color: #8C966F;
                        opacity: 1;
                        text-decoration: none;
                    }
                
                
                }
            }
        }
        /* end second_nav */
     
     
        h1   {
            color: #FFFFFF;
            font-size: 4em;
            padding: 10px 0 0 0;
            text-shadow: 0 -2px #8698A6;
            text-align: center;
        }
        
        h2  {
            color: #4E7F9F;
            font-size: 2.2em;
            line-height: 1.1;
            padding: 0 100px 40px 100px;
            text-shadow: 0 1px #FFFFFF;
            text-align: center;
        }
     
    }
}

/* footer */
#footer_outer {
    background: #CDD7DD;

    #footer_inner {
        padding: 40px 0;
        
        .footer_left {
            float: left;
            margin: 0;
            padding: 0;
            width: 200px;
            
            span    {
                color: #65899F;
                font-family: 'Lato', arial, helvetica, sans-serif;
                font-size: 1.7em;
                font-style: italic;
                font-weight: 900;
                text-shadow: 1px 1px #CCCCCC;
            }
        }
        
        .footer_right {
            float: left;
            margin: 0;
            padding: 0;
            width: 740px;
            
            ul {
                text-align: right;
                padding: 8px 0 0 0;
                
                li {
                    display: inline;
                    line-height: 1;
                    padding: 0 10px;
                    
                    a,
                    a:link,
                    a:visited,
                    a:active {
                        color: #6C88A6;
                        font-family: 'Oswald', 'arial narrow', arial, helvetica, sans-serif;
                        font-weight: 400;
                        text-shadow: 0 1px #FFFFFF;
                        font-size: 1em;
                        line-height: 1;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
/* end footer */
/*====== end Layout ======*/