h1, h2, h3 {
    font-family: arial, helvetica, sans-serif;
}

h1 {
    font-size: 36pt;
    font-weight: 100;
    line-height: 1.1;
}


h2 {
    font-size: 30pt;
    font-weight: bold;
    line-height: 1.1;
}

h3 {
  font-size: 24pt;
  font-weight: 100;
}