<% @page_title = 'Client profit and loss' %>

<div class="standard_one_col">

    <div class="cell_1">
        <%= render :partial => 'shared/page_heading' %>
        
        <%=render :partial => 'project_profit_and_loss', :locals => {:projects => @projects, :client => @client}%>
    </div>
</div>


