option[disabled] {
    display: none;
}

.hidden {
    display: none;
}

.align_left {
    text-align: left;
}

.align_right {
    text-align: right;
}

.align_center {
    text-align: center;
}

.align_justify {
    text-align: justify;
}

.small_text {
    font-size: 0.9em;
}

.light_text {
    color: #999999;
}

.strong_text {
    font-weight: bold;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.padding_0 {
    padding: 0;
}

.padding_left_5 {
    padding-left: 5px;
}

.padding_right_10 {
    padding-right: 10px;
}

.padding_bottom_5 {
    padding-bottom: 5px;
}

.padding_bottom_10 {
    padding-bottom: 10px;
}

.padding_bottom_20 {
    padding-bottom: 20px;
}

.padding_bottom_30 {
    padding-bottom: 30px;
}

.padding_top_10 {
    padding-top: 10px;
}

.padding_top_15 {
    padding-top: 15px;
}

.padding_top_30 {
	padding-top: 30px;
}

.margin_bottom_10 {
    margin-bottom: 10px;
}

.margin_bottom_30 {
    margin-bottom: 30px;
}

.margin_top_10 {
    margin-top: 10px;
}

.margin_right_30 {
    margin-right: 30px;
}