<% @page_title = 'Reply to comment' %>
<% @second_nav = project_second_nav(@project, 'project_comments') -%>

<div class="standard_one_col">
    <div class="cell_1">
        <%=render :partial => 'shared/page_heading'%>

        <%=render :partial => 'project_comments/reply_comment_form', :locals => {:project => @project, :project_comment => @project_comment, :new_project_comment => @new_project_comment}%>

    </div>
</div>
