<%@page_title = 'Edit feature'%>

<div class="standard_one_col">
    <div class="cell_1">
        <%=render :partial => 'shared/page_heading'%>
        
        <%=render :partial => 'edit_feature', :locals => {:project => @project, :feature => @feature}%>
    </div>

</div>